{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    <div class="mx-auto">
        <h1 class="my-5 text-lg">Create new Post</h1>

        {% include "micro_post/forms/_form_post.html.twig" %}
       
    </div>

{% endblock %}