{% extends "base.html.twig" %}

{% block name %}

{% for messaggio in messaggi|slice(0,limite) %}
    <div>{{messaggio.message }}</div>
    
    {% if date(messaggio.created) < date('-1year') %}
    
    <div><b>Oltre 1 anno</b></div>
    
    {% else %}
    <div>{{messaggio.created|date("d/m/Y")}} </div>
    {% endif %}
    
    
{% endfor %}

{% endblock %}