{% extends "general_template/base.html.twig" %}
{% block title %}Index{% endblock %}

{% block body %}
<div>

{% for key,messaggio in messaggi|slice(0,limite) %}

    <div><a href="{{path('app_show_one', {id:key})}}">{{messaggio.message}}</a></div>

    {% include "hello/_message.html.twig" %}
    
{% endfor %}

</div>

{% endblock %}